h1 { color:IndianRed;}
body { background-color:white;}
#h1{color:red;}
#Titolotabella2 {color:IndianRed;}
li { text-align:left;}
ol, ul { text-align: center; margin-left:40%;}
table { width: 90%; border-collapse: collapse; }
#imgcenter { text-align:center;}
#titolotabella3 { color:LightSkyBlue;}
ol{ border-style:solid;border-color:grey;border-width:3px;}
ol { padding:25px; margin:25px;}
#ol01 { background-color:lightgreen;}
ul { border-style:solid;border-color:;border-width:3px;}
ul { padding:20px; margin:20px;}
#ul01 {background-color:salmon;}
tr{border-width:1px;border-style:solid;border-color:white;}
tr {padding:25px;}
table {border:spacing:20px;}
table {border-width:2px;border-style:solid;border-color:white}
.colore { background-color:goldenrod;}
#p1 {color:red;}
#p2 {color:lightblue;}
#p3 {color:OrangeRed;}
